p {
    margin-top: -15px;
    margin-bottom: 0px;
}

h3 {
    margin: 40px 0 0;
}

h5 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 30px !important;
}

ul {
    padding-left: 40px;
    list-style-type: none;
}

ul li {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

img {
    width: 20%;
    height: 20%;
    margin-left: 20px;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: purple;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

i {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.actor {
    border: 1px solid black;
}

#header {
    display: flex;
    flex-direction: row;
}

#lateral {
    text-align: left;
    padding-left: 30px;
}

.searchBar {
    overflow: hidden;
    background-color: #e9e9e9;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 50px;
    font-size: 20px;
}

.searchBar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.searchBar a:hover {
    background-color: #ddd;
    color: black;
}

.searchBar a.active {
    background-color: #2196F3;
    color: white;
}


/* .searchBar #searchContainer {
    float: right;
} */

.searchBar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.searchBar #searchContainer button {
    /* float: right; */
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.searchBar #searchContainer button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {}